{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'styles/calendario.css '%}" />
</head>

<div class="container">
  <img src="{% static 'assets/logo.png' %}" alt="Calendário Bordô" class="logocalendario" />
  <div class="calendar-base">
    <div></div>
    <div class="year">2023</div>
    <!-- year -->

    <div class="triangle-left"></div>
    <!--triangle -->
    <div class="triangle-right"></div>
    <!--  triangle -->

    <div class="months">
      {% for month in context.months %}
      <span class="month-hover">{{ month }}</span>
      {% endfor %}
    </div>
    <!-- months -->
    <hr class="month-line" />

    <div class="days">DOM SEG TER QUA QUI SEX SAB</div>
    <!-- days -->

    <div class="num-dates">
      {% for week in context.calendar %}
      <div class="first-week">
        {% for dia in week %}
        <a href="{% url 'calendario'  dia %}" >{{ dia }}</a>
        {% endfor %}
        <!--<span class="grey">26 27 28 29 30 31</span> 01 -->
      </div>
      {% endfor %}
      <!--
      <div class="second-week">02 03 04 05 06 07 08</div>

      <div class="third-week">09 10 11 12 13 14 15</div>

      <div class="fourth-week">16 17 18 19 20 21 22</div>

      <div class="fifth-week">
        23 <strong class="white">24</strong> 25 26 27 28 29
      </div>
      <div class="sixth-week">
        30 <span class="grey">01 02 03 04 05 06</span>
      </div>
    -->
      <!-- week -->
    </div>
    <!-- num-dates -->
  
    <!-- event-indicator -->
    <!-- active-day -->

    <!-- event-indicator -->
  </div>
  <!-- calendar-base -->
  <div class="calendar-left">
    <div class="meuperfil"><a href="{% url 'perfil' %}">Meu perfil</a></div>
      <!-- burger-line -->

    <!-- hamburger -->

    <div class="num-date">{{dia}}</div>
    <!--num-date -->
    <div class="day"><br /> MAIO</div>
    <!--day -->
    <div class="current-events">
      Eventos do dia
      <br />
      {% if cards %}
    <ul>
    {% for calendario in cards %}
    <li class="evento" title="{{ calendario.descricao }}">{{ calendario.nome }}</li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum evento neste dia.</p>
    {% endif %}
      <span class="posts">Ver próximos eventos</span>
    </div>
    <!--current-events -->
  </div>
  <!-- calendar-left -->
</div>
<!-- container -->
